---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import { TimeScheduler } from '../../features/time-schedule';
import '../../styles/global.css';
---

<Layout title="タイムスケジューラ - 高校情報">
    <div class="min-h-screen bg-slate-50 dark:bg-slate-950">
      <Header />
      <TimeScheduler client:only="react" />
    </div>
</Layout>
